.Order {
    background-image: linear-gradient(120deg, #d28135 0%, #CF8F2E 100%);
    /* background-color: #CF8F2E; */
    width: 80%;
    border: 1px solid #d49f4f;
    border-radius: 4px;
    box-shadow: 0 2px 3px #d49f4f;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    color: #fff;
}
.Ingredients {
    text-transform: capitalize;
    display: inline-block;
    margin: 0px 8px;
    border: 1px solid #703b09;
    padding: 3px;
    font-size: 14px;
    background-color: #703b09;
    border-radius: 4px;
}